@inherits LayoutComponentBase

<main class="align-items-center min-vh-100 d-flex">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
				<div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            @Body
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>